# Compiled class file
*.class
*.bin
*.lock
# ignire all logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*.bat

# Project gen files
gradlew
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/